*{
    padding: 0;
    margin: 0;
    box-sizing: 0;
    scrollbar-width: thin;
    scrollbar-color: var(--font-color) var(--border-color);
}
:root{
    --border-color:#3f1c81;
    --font-color:#8750f7;
}
a{
    text-decoration: none;
}
body{
    font-family: "Russo One", sans-serif;
    background-color: black;
}
.RingLoader{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}
.RingLoader span{
    opacity: 1 !important;
}
.ScrollToTop{
    border: 1px solid var(--border-color);
    background-color: transparent;
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
    text-align: center;
    box-shadow: none;
}
.ScrollToTop svg{
    fill: var(--font-color);
    width: 20px;
    height: 20px;
}