*{
    padding: 0;
    margin: 0;
    box-sizing: 0;
    transition: .3s;
    list-style: none;
}
:root{
    --border-color:#321667;
    --font-color:#8750f7;
}
#Services{
    padding-bottom: 10rem;
    background-color: #050709;
    font-family: "Sora", sans-serif;
}
#Services .title{
    font-size: 3rem;
    margin: 8rem 0 1rem;
}
#Services .des,#Skills .top .des{
    width: 50%;
    font-size: 1rem;
    margin-left: 24%;
}
#Services ul li{
    margin-top: 4rem;
}
#Services ul li span{
    color: var(--font-color);
    font-weight: bold;
    font-size: 1.2rem;
    margin-right: 1rem;
    margin-left: 1rem;
}
#Services ul li .S-title{
    color: white;
    font-weight: 700;
}
#Services ul li p{
    width: 42%;
    padding-bottom: 1rem;
    color: #d8d8d8;
}
#Services ul li{
    border-bottom: 1px solid var(--border-color);
    padding-top: 3rem;
    margin-bottom: -4rem;
    position: relative;
}
#Services ul li i ,#Works .link i{
    font-size: 2rem;
    color: var(--font-color);
    transform: rotate(45deg);
    position: absolute;
    right: 4rem;
}
#Services ul li:hover{
    background: linear-gradient(to right ,#58277d,#421b5c,#211237);
}
#Services ul li a:hover > i ,#Works .Projects:hover > .link i{
    transform: rotate(-40deg);
    color: white;
}



@media (max-width: 767px){
    #Services .container{
        display: inline;
    }
    .space {
        display: none;
    }
    #Services ul li {
        width: 103%;
        left: -7.5%;
        padding-top: 2rem;
        margin-bottom: -5rem;
    }
    #Services ul li a{
        display: block !important;
    }
    #Services ul li p {
        width: 98%;
        margin-left: 1rem;
    }
    #Services ul li i, #Works .link i {
        right: 2rem;
        font-size: 1.5rem;
        top: 17%;
    }
}

@media (min-width: 768px) and (max-width: 991px){
    #Services .container{
        display: inline;
    }
    #Services ul li {
        width: 104%;
        left: -4%;
    }
    
    #Services ul li i, #Works .link i {
        right: 1rem;
        top: 4rem;
    }
}
@media (min-width: 992px){
}
@media (min-width: 1200px) {

}
@media (min-width: 1400px) {
    #Services .container{
        display: block;
    }
    #Services ul li i, #Works .link i {
        right: 4rem;
    }
    #Services ul li{
        border-bottom: 1px solid var(--border-color);
        padding-top: 3rem;
        margin-bottom: -4rem;
        position: relative;
    }
}